<h1 class="border-y-2 mx-6 py-3">STARSHIPS</h1>
<div class="flex justify-center md:justify-end">
  <img />
  @if(starship$ | async; as starship) {
  <div
    class="bg-white/10 m-6 space-y-3 p-6 border-l-2 border-l-orange-400/65 w-full md:w-1/2"
  >
    <h1 class="text-xl font-extrabold">{{ starship.name.toUpperCase() }}</h1>
    <p><strong>Model:</strong> {{ starship.model }}</p>
    <p><strong>Manufacturer:</strong> {{ starship.manufacturer }}</p>
    <p><strong>Cost in Credits:</strong> {{ starship.cost_in_credits }}</p>
    <p><strong>Length:</strong> {{ starship.length }}</p>
    <p><strong>Cargo Capacity:</strong> {{ starship.cargo_capacity }}</p>
    <p>
      <strong>Atmospheric Speed:</strong> {{ starship.max_atmosphering_speed }}
    </p>
    <p><strong>Crew:</strong> {{ starship.crew }}</p>
  </div>
  }
</div>
