<div class="flex flex-col items-center m-3">
  @if(starships) {
  <ul class="md:w-3/4 w-full">
    @for(starship of starships; track starship.name) {
    <li
      [routerLink]="['/starship', starship.url.split('/').slice(-2, -1)[0]]"
      class="m-3 p-6 border-none rounded bg-white/10 cursor-pointer"
    >
      <h6>
        {{ starship.name.toUpperCase() }}
      </h6>
      <p>{{ starship.model }}</p>
    </li>
    }
  </ul>
  }
  <div *ngIf="loading">Loading...</div>
  <button (click)="onViewMore()" *ngIf="!loading && next">View More</button>
</div>
